.login-container {
    position: absolute;
    top: 108px;
    left: 120px;
    margin-left: 60px;

}

.login-title {
    font-size: 24px;
}

.login-description {
    font-size: 16px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-label {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;

}

.login-input {
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    outline: none;
    width: 680px;
}

